.App {
  text-align: center;
}

.logo {
  color: blue;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.container {
  padding-top: 26px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*               MENU                */

header {
  padding: 30px 12px;
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

.menu-col {
  flex-basis: 30%;
}

.menu-col__centre {
  flex-grow: 1;
  margin: 0 auto;
  text-align: center;
  flex-basis: 40%;
}

.menu-col__left {
  margin-right: auto;
  text-align: left;
}

.menu-col__right {
  margin-right: auto;
  text-align: right;
}

.nav-link {
  padding: 6px;
}

.nav-link-active {
  color: rgb(54, 232, 10);
}


/*            POLL PREVEIW           */

.polls_cover {
  display: flex;
  align-items: center;
  justify-content: center;
}

.poll-previes {
  max-width: 400px;
  margin: 18px auto;
  background: white;
  border-radius: 8px;
  padding: 40px 60px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  position: relative;
}

.poll-prev-author {
  margin: 20px 0 0 0;
  font-weight: 600;
}

.poll-prev-author-name {
  text-transform: capitalize;
  color: blue;
}

.poll-prev-votes {
  position: absolute;
  max-width: 200px;
  padding: 6px 18px;
  text-align: center;
  top: -20px;
  right: -30px;
  border: 2px solid rgb(58, 203, 58);
  background: transparent;
  border-radius: 300px;
  font-size: 12px;
  color: gray;
}





/*               POLL             */


.answer {
  background: white;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  align-items: left;
  margin: 16px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.poll-label {
  margin-right: 8px;
}

.poll-label::first-letter {
  text-transform: capitalize;
}

.info {
  margin-top: 20px;
  color: brown;
}

.info-autor {
  text-transform: capitalize;
}

.info-autor-name {
  color: blue;
  font-weight: 600;
}


/*             LEADERBOARD             */

table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

tr {
  padding: 12px;
}

td {
  padding: 12px;
}

th {
  padding: 12px;
}

tr:nth-child(1)  {
  background: blue;
  color: wheat;
  border-top-left-radius: 80px;
}

tr:first-child td:first-child { border-top-left-radius: 8px; }
tr:first-child td:last-child { border-top-right-radius: 8px; }


th:first-child {
  padding: 12px;
  border-top-left-radius: 8px;
}


th:last-child {
  padding: 12px;
  border-top-right-radius: 8px;
}


tr:nth-child(even)  {
  background-color: #f2f2f2;
}

/* tr {
  background: blue;
  color: white;
} */