body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  #F1F5F9;
}

a {
  text-decoration: none;
  color: black;
}

li {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

h1 {
  size: 40px; 
}

h2 {
  size: 32px;
}

form {
  width: 100%;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

